* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 4.2rem;
	text-align: center;
	padding: 15px;
	margin-bottom: 25px;
}

#container {
	font-size: 1.6rem;
	margin: 3%;
	padding: auto;
}

#s1,
#s2 {
	width: 31.33%;
	margin-right: 3%;
	background-color: lightgrey;
	border: 1px solid black;
	position: relative;
	padding: 10px;
	margin-bottom: 25px;
	float: left;
}

#s3 {
	width: 31.33%;
	background-color: lightgrey;
	border: 1px solid black;
	position: relative;
	padding: 10px;
	margin-bottom: 25px;
	float: left;
}

section h2 {
	font-size: 2.75rem;
	position: absolute;
	border: 1px solid black;
	padding: 2px 12px;
	top: 0px;
	right: 0px;
}

#s1 h2 {
	color: magenta;
	background-color: lightyellow;
}

#s2 h2 {
	color: green;
	background-color: lightblue;
}

#s3 h2 {
	color: purple;
	background-color: lightgreen;
}

section p {
	margin-top: 15%;
	clear: both;
}

@media (min-width: 768px) and (max-width: 991px) {
	#s1,
	#s2 {
		width: 48%;
		margin-right: 4%;
		background-color: lightgrey;
		position: relative;
		padding: 15px;
		margin-bottom: 25px;
		float: left;
	}

	#s2 {
		margin-right: 0;
	}

	#s3 {
		width: 100%;
		background-color: lightgrey;
		position: relative;
		padding: 15px;
		margin-bottom: 25px;
		float: left;
	}
}

@media (max-width: 767px) {
	#s1,
	#s2,
	#s3 {
		width: 100%;
		clear: both;
	}
}
