* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	padding: 15px;
	margin-bottom: 25px;
}

#container {
	margin: 3%;
	padding: auto;
}

#s1,
#s2 {
	width: 31.33%;
	margin-right: 3%;
	background-color: lightgrey;
	border: 1px solid black;
	position: relative;
	padding: 15px;
	margin-bottom: 25px;
	float: left;
}

#s3 {
	width: 31.33%;
	background-color: lightgrey;
	border: 1px solid black;
	position: relative;
	padding: 15px;
	margin-bottom: 25px;
	float: left;
}

.sec-title {
	/* display: inline-block; */
	background-color: lightyellow;
	border: 1px solid black;
	padding: 5px 10px;
	position: absolute;
	top: 0px;
	right: 0px;
}

section p {
	margin-top: 10%;
	clear: both;
}

@media (min-width: 768px) and (max-width: 991px) {
	#s1,
	#s2 {
		width: 48%;
		margin-right: 4%;
		background-color: lightgrey;
		position: relative;
		padding: 15px;
		margin-bottom: 25px;
		float: left;
	}

	#s2 {
		margin-right: 0;
	}

	#s3 {
		width: 100%;
		background-color: lightgrey;
		position: relative;
		padding: 15px;
		margin-bottom: 25px;
		float: left;
	}
}

@media (max-width: 767px) {
	#s1,
	#s2,
	#s3 {
		width: 100%;
		clear: both;
	}
}
